* {
  margin: 0;
  padding: 0;
  outline: none; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #fafafa;
  font-family: sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  color: #8f8f8f; }
  a:hover {
    color: #333333;
    text-decoration: underline; }

ul {
  list-style: none; }

.pull-left {
  display: inline-block;
  float: left; }

.pull-right {
  display: inline-block;
  float: right; }

.container {
  max-width: 768px;
  min-height: 100%;
  margin: 0 auto; }
  .container .header {
    padding: 10px;
    background-color: #fff; }
    .container .header .name {
      font-size: 40px;
      font-family: monospace;
      font-weight: 800;
      display: inline-block; }
    .container .header .links {
      display: inline-block; }
      .container .header .links a {
        margin-right: 5px; }
  .container .page-content {
    background-color: #fff;
    padding: 10px;
    margin: 10px auto; }
    .container .page-content .posts .post-item {
      padding: 20px 10px;
      border-radius: 5px; }
      .container .page-content .posts .post-item a.post-title {
        font-size: 22px;
        font-weight: 100;
        color: #333333; }
        .container .page-content .posts .post-item a.post-title:hover {
          color: #333333;
          text-decoration: none; }
      .container .page-content .posts .post-item .post-date {
        font-size: 10px;
        position: relative;
        top: 7px; }
      .container .page-content .posts .post-item:hover {
        background-color: #fafafa; }
  .container .footer {
    background-color: #fff;
    padding: 10px 0;
    margin: 10px auto;
    height: 30px;
    width: 100%;
    display: table; }
    .container .footer .copyright {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
