$bg-color: #fafafa;
$text-color: #333;
$link-color-default: #8f8f8f;
$link-color-active: #333333;
$default-padding: 10px;
$default-margin: 10px;
$default-radius: 5px;
// code style
$code-text-color: #d46f55;
$code-bg-color: #000;
$code-padding-1: 2em;
$code-padding-2: 1em;