/ This is a layout file for your application
html
  head
    meta charset="UTF-8"/
    link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
    link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png"
    link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"
    link rel="stylesheet" type="text/css" href="/css/app.css"/
    script type="text/javascript" src="/js/app.js"
    title Document

  body
    .container
      .header
        .name
          a href='/' Deepak Kumar
        .links.pull-right
          a href='https://twitter.com/42races' target="_blank" Twitter
          a href='https://twitter.com/42races' target="_blank" Github
      .page-content
        ul.posts
          li.post-item
            a.post-title href="posts/2016-06-05-anonymous-functions-in-elixir.html" Anonymous functions in elixir
            .post-date.pull-right 05 Jun 2016
          li.post-item
            a.post-title href="posts/2015-05-18-rake-a-great-build-tool.html" Rake, A great build tool written in ruby
            .post-date.pull-right 18 May 2015
          li.post-item
            a.post-title href="posts/2015-04-21-introduction-to-ruby-programming.html" Introduction to ruby programming
            .post-date.pull-right 21 Apr 2015
          li.post-item
            a.post-title href="posts/2015-04-20-composite-unique-validator-in-rails.html" Composite Unique Validator in Rails
            .post-date.pull-right 20 Apr 2015
          li.post-item
            a.post-title href="posts/2015-01-12-creating-ruby-module-function-using-module_function.html" An easy way to create module functions
            .post-date.pull-right 12 Jan 2015
          li.post-item
            a.post-title href="posts/2014-10-25-daily-git.html" Daily Git
            .post-date.pull-right 25 Oct 2014
          li.post-item
            a.post-title href="posts/2014-10-24-threads-green-threads-and-fibers.html" Threads, green threads and fibers
            .post-date.pull-right 24 Oct 2014
          li.post-item
            a.post-title href="posts/2014-10-21-one-day-trip-to-athirappilly-waterfalls.html" One day trip to Athirappilly waterfalls
            .post-date.pull-right 21 Oct 2014
          li.post-item
            a.post-title href="posts/2014-10-21-my-cooking-experiment--french-fries.html" My cooking experiment French Fries
            .post-date.pull-right 21 Oct 2014
          li.post-item
            a.post-title href="posts/2014-09-22-nokogiri-xml-parser.html" Nokogiri XML Parser
            .post-date.pull-right 22 Sep 2014
          li.post-item
            a.post-title href="posts/2014-08-11-emacs-neotree-plugin.html" Emacs Neotree Plugin
            .post-date.pull-right 11 Aug 2014
          li.post-item
            a.post-title href="posts/2014-08-09-nginx-basic-http-auth-setup.html" Nginx basic http auth setup
            .post-date.pull-right 09 Aug 2014
          li.post-item
            a.post-title href="posts/2014-08-06-use-asset-pipeline-for-angularjs-templates.html" Use asset pipeline for angularjs templates
            .post-date.pull-right 06 Aug 2014
          li.post-item
            a.post-title href="posts/2014-07-15-ruby-on-rails-configure-rspec-guard-and-spring-with-libnotify.html" Ruby On Rails Configure rspec, guard and spring with libnotify
            .post-date.pull-right 15 Jul 2014
          li.post-item
            a.post-title href="posts/2014-07-10-nginx-redirect-examplecom-to-wwwexamplecom.html" Nginx Redirect example.com to www.example.com
            .post-date.pull-right 10 Jul 2014
          li.post-item
            a.post-title href="posts/2014-03-28-schedule-tasks-using-crontab-in-a-rubyrails-project.html" Schedule tasks using crontab in a ruby/rails project
            .post-date.pull-right 28 Mar 2014
          li.post-item
            a.post-title href="posts/2014-03-27-friendly_url.html" Use readable urls in your rails application
            .post-date.pull-right 27 Mar 2014
          li.post-item
            a.post-title href="posts/2014-01-13-deployment-using-capistrano-3.html" Deployment Using Capistrano 3
            .post-date.pull-right 13 Jan 2014
          li.post-item
            a.post-title href="posts/2013-09-10-undo-git-commit.html" Undo git commit, History cleanup
            .post-date.pull-right 10 Sep 2013
          li.post-item
            a.post-title href="posts/2013-09-06-emacs-to-emacs.html" Emacs to Emacs
            .post-date.pull-right 06 Sep 2013
          li.post-item
            a.post-title href="posts/2013-09-03-drag-and-drop-with-preview-using-html5.html" Drag and Drop with preview using HTML5
            .post-date.pull-right 03 Sep 2013
          li.post-item
            a.post-title href="posts/2013-09-02-few-steps-to-make-your-rails-application-secure.html" Few steps to make your rails application secure
            .post-date.pull-right 02 Sep 2013
          li.post-item
            a.post-title href="posts/2013-08-30-jekyll-blogging.html" Jekyll Blogging
            .post-date.pull-right 30 Aug 2013
          li.post-item
            a.post-title href="posts/2013-07-16-use-puma-application-server-in-a-rails-application.html" Use puma as application server in a rails application
            .post-date.pull-right 16 Jul 2013
          li.post-item
            a.post-title href="posts/2013-01-03-Constructing-Image-With-HTML.html" Constucting Image With HTML
            .post-date.pull-right 03 Jan 2013
          li.post-item
            a.post-title href="posts/2012-12-30-spawning-subprocesses-in-ruby-scripts.html" Spawning Subprocesses In Ruby Scripts
            .post-date.pull-right 30 Dec 2012
          li.post-item
            a.post-title href="posts/2012-11-10-reading-a-password.html" Reading A Password
            .post-date.pull-right 10 Nov 2012
          li.post-item
            a.post-title href="posts/2012-04-02-use-cases-that-makes-ruby-programming-a-lot-easier.html" Some Use Cases That Makes Ruby Programming A Lot Easier
            .post-date.pull-right 02 Apr 2012
          li.post-item
            a.post-title href="posts/2012-03-30-one-small-ruby-puzzle.html" One Small Ruby Puzzle
            .post-date.pull-right 30 Mar 2012
          li.post-item
            a.post-title href="posts/2010-08-02-grub-reinstallation.html" Grub Reinstallation
            .post-date.pull-right 02 Aug 2010

      .footer
        .copyright
          | Made with passion using&nbsp;
          a href='https://github.com/42races/parrot' target="_blank" Parrot